<div class="form-container">
  <div class="form-title">
    <mat-icon fontIcon="login"></mat-icon>
    <b>Sign up</b>
  </div>
  <div>
    <div class="field-container">
      <mat-form-field appearance="fill">
        <mat-label>
          <mat-icon fontIcon="group"></mat-icon> Enter your name
        </mat-label>
        <input matInput [formControl]="name" (blur)="updateNameErrorMessage()" [(ngModel)]="userName" name="userName" required>
        <mat-error *ngIf="name.invalid">{{nameErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <div class="email-input-container">
      <mat-form-field>
        <mat-label>
          <mat-icon fontIcon="mail"></mat-icon> Enter your email
        </mat-label>
        <input matInput [formControl]="email" (blur)="updateEmailErrorMessage()" [(ngModel)]="userEmail" name="userEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <mat-error *ngIf="email.invalid">{{emailErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <div class="password-input-container">
      <mat-form-field>
        <mat-label>
          <mat-icon fontIcon="lock_person"></mat-icon> Enter your password
        </mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" (blur)="updatePasswordErrorMessage()" [(ngModel)]="userPassword" name="userPassword" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{passwordErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <button class="login-button" type="submit" (click)="onSubmit()">Sign up</button>
  </div>
  <div class="form-change">
    <p>Already have an account?</p>
    <a class="signup-link" routerLink="/login"><b>Login</b></a>
  </div>
</div>
